html,body{
	box-sizing: border-box;
	margin:0 auto;
}
#whitewrapper{
	background: url(../img/17999432224217782291.gif) 50% -220% no-repeat;
}
.top_outer{
	background: #268ec1;
}
.top_section{
	display: grid;
	width: 1145px;
	margin: 0 auto;
	grid-template-columns: 0.7fr 1fr 1fr;
	padding: 10px;
	align-items: center;
}
.logo img{
	width: 65%;
	height: auto;
}
.top_menu{
	color: white;
}
.stream{
	
}
.stream ul li{
	display: inline;
	color: white;
	margin: 0 5px;
}

.top_menu ul li{
	display: inline;
	color: #FFFFFF;
	font-size: 16px;
	font-family: Oswald;
	font-style: normal;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	letter-spacing: 1px;
	margin-top: 3px;
	text-transform: uppercase;
}
.top_social{
	/*float: right;*/
	margin: 0px;
}
.stream ul li:first-child{
	background: red;
}

.top_ad{
	display: grid;
	width: 1145px;
	grid-template-columns: 1fr;
	margin: 0 auto;
	padding: 35px;
}
.top_ad img{
	margin: inherit;
	padding: 10px 0 10px 0;
}

.alt_container{
	width: 1145px;
	margin: 0 auto;
	background: #0000;
	padding: 15px 15px 15px 15px;
}
.main_section{
	display:grid;
	width: 1145px;
	margin: 0 auto;
	grid-template-columns: 617px 1fr;
}
.left_bar img {
    /*width: 100%;*/
    height: auto;
}

.right_bar{
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin: 0 auto;
	grid-gap: 16px;
}
.right_bar img {
    width: 526px !important;
}
.top {
	margin: 0 auto;
	width: 100%;
	padding: 0px 20px 5px 0px;
}
.bottom{
	margin: 0 auto;
	width: 100%;
	padding: 0px 50px 10px 0px;
}
.top .bottom img{
	width: 100%;
}

.block_title {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Oswald;
    font-size: 16px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: bold;
    width: 15%;
    float: left;
    text-transform: uppercase;
}
.entry_title h3{
	font-family: Oswald;
	font-size: 16px;
	color: #282A2A;
	line-height: 125%;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-weight: lighter;
	top: 11px;
	position: relative;
	left: 10px;
}





























